name: Release
on:
  push:
    tags:
      - "v*"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  publish:
    name: publish to crates.io
    runs-on: ubuntu-latest
    needs: build-and-test-nodejs
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: publish oci-distribution to crates.io
        run: cargo publish --token ${{ secrets.CargoToken }}

  # Build and test Node.js bindings FIRST
  # This also ensures version sync before any publishing
  build-and-test-nodejs:
    name: Build & Test Node.js
    uses: ./.github/workflows/nodejs-build-call.yml

  # Publish Node.js packages to npm
  publish-nodejs-bindings:
    name: Publish to npm
    uses: ./.github/workflows/nodejs-publish-call.yml
    secrets:
      NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
